
body{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
bio{
    display: flex;
    align-items: start;
    height: 50%;
    align-self: stretch;

}

content{
display: flex;
flex-direction: column;
flex-basis: 100px ;
}


