
h4{
    margin: 0px;
    display: flex;
    justify-self: flex-start;
    font-size: 20px;
    padding: 5px;
}

h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-self: flex-start;
    font-size: 16px;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between; 
    background-color: #FBBDBA;
    color: #EEE3EC;
    margin: 0; 
}

.background {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 400px;
    background-color: #1ccbd7;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin: 15px;
    font-size: 24px;
    height: 80%;
    overflow-y: auto;
}

.profile,
.tools,
.socials {
    width: 100%;
}
.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.profile-picture {
    height: 100px;
    width: 100px;  
    align-self: center;
    border-radius: 50%;
    margin-top: 25px;
}

.profile-name{
    font-weight: bold;
    margin: 0px;
}

.profile-links{
    text-decoration: none;
    color: #C3DDeB;
}

.information{
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 10px;
    padding: 5px 7px;
}

.info-location,
.info-education,
.info-language{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    gap: 20px;

}

.city,
.school,
.language{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 18px;
} 

.tools{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.tools-logo,
.socials-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 25px;

}

.tool{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 45px;
    width: 45px;
    padding: 5px;

}

p{
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    align-content: flex-end;
    gap: 20px;
}


.socials{
    background: #4caadc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    height: 75%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tools-header,
.socials-header{
color: #EEE3EC;
font: bolder;
margin: 0px;
padding-bottom: 10px;
}

.social{
    height: 50px;
    width: 50px;  
    border-radius: 50%;
    margin: 0 10px;

}


.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #e26071;
    border-radius: 5px;
    justify-content: space-between;
    text-align: center;
    margin: 15px 15px 10px 450px;
    padding: 25px;
}

.banner-image {
    width: 100%; 
    max-height: 300px; 
    object-fit: cover;
    border-radius: 5px;
}

.site{
    max-height: 150px;
    border-radius: 5px;
    border-color: #d71c1c;
    border-style:solid;
}

.website-content{
    display: flex;  
    text-wrap: wrap;
    justify-content: space-evenly;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

button{
    height: 50px;
    width: 100px;
    background-color: #1ccbd7;
    color: white;
    border-color: #1ccbd7;
    border-style: solid;
    border-radius: 5px;
    cursor:pointer;
}

.contact-links{
display: flex;
padding: 10px;
text-decoration: none;
color:#EEE3EC;
}